
#posts{
    align-content: left;

    padding: 10px;
}
.page-item{


    border: 3px solid lightblue;
    padding: 20px;
    display: block;
    border-radius: 20px;
    margin: 5px;
    margin-left: 0;

}
.prev{
    border-color: lightblue;
    border-radius: 20px;
    background-color: white;

}
.next{
    border-color: lightblue;
    border-radius: 20px;
    background-color: white;

}
#chirpy{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: lightblue;
    color: white;
    font-size: 300%;
    
}
#user_section{
    background-color: lightcyan;
    border-radius: 20px;
}
.like{
    border-radius: 50%;
    background-color: lightblue;

}
.unlike{
    border-radius: 50%;
    background-color: orange;
}
#unfollow{
    background-color: lightblue;

}
#follow{
    background-color: lightblue;

}
#submit_chirp{
    background-color: lightblue;

}